@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .page {
    min-height: calc(100vh - 3.625rem - env(safe-area-inset-bottom));
    padding-top: env(safe-area-inset-top);
  }
  .f28 {
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
  .f24 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  .f20 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .f16 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .f14 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .f12 {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .on-board {
    font-size: 1rem;
    line-height: 1.375rem;
  }
  .safe-area {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
  .safe-area-top {
    padding-top: env(safe-area-inset-top);
  }
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .on-board {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

* {
  /* 글자 선택 막기 */
  user-select: none;
  letter-spacing: -0.015em;
  /* 링킹 막기 */
  -webkit-touch-callout: none;
}
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

@media (max-width: 376px) {
  .responsive-onboard-image {
    padding-top: 80px;
  }
  .responsive-onboard-text-margin {
    margin-top: 0px;
  }
  .responsive-roulette-image-div {
    display: none;
  }
}

/* antd calender */
.ant-picker-calendar {
  color: #4e5968 !important;
}
.ant-picker-calendar .ant-picker-cell {
  color: #4e5968 !important;
  font-weight: 500 !important;
}
.ant-picker-panel {
  border: none !important;
}
.ant-picker-content thead tr th {
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #979799 !important;
}
.ant-picker-content tbody tr td {
  vertical-align: middle !important;
  text-align: -webkit-center !important;
}
.ant-picker-content tbody tr td div {
  width: 42px !important;
  height: 42px !important;
}
.ant-picker-cell-disabled::before {
  background-color: unset !important;
}
.ant-picker-cell {
  padding: 0px !important;
  font-size: 20px;
}
.ant-typography {
  margin-bottom: 0px;
}
.ant-picker-cell-disabled {
  background-color: none !important;
}
/* Disabled 상태의 날짜 스타일 */
.ant-picker-calendar .ant-picker-cell-disabled .ant-picker-calendar-date-value,
.ant-picker-calendar .ant-picker-cell-disabled {
  color: #bfbfbf !important;
}